{% extends "layout.html" %}
{% block title %}
Adicionar novo Cliente
{% endblock %}
{% block content %}
        <form action="{{ url_for('addrec') }}" method="POST">
            <h3>Por favor adicionar novo cliente:</h3>
            Nome<br>
            <input type="text" name="nm" /><br>

            Endereço<br>
            <textarea name="add"></textarea><br>

            Cidade<br>
            <input type="text" name="city" /><br>

            CEP<br>
            <input type="text" name="zip" /><br>

            <input type="submit" value="Enviar" /><br>
        </form>
{% endblock %}