{% extends "layout.html" %}
{% block title %}
Listar todos os Clientes
{% endblock %}
{% block content %}
<table border="1px">
    <thead>
        <td><strong>Cliente ID</strong></td>
        <td><strong>Nome</strong></td>
        <td><strong>Endereço</strong></td>
        <td><strong>Cidade</strong></td>
        <td><strong>Cep</strong></td>
        <td></td>
        <td></td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row["rowid"] }}</td>
        <td>{{ row["name"] }}</td>
        <td> {{ row["addr"]}}</td>
        <td>{{ row["city"] }}</td>
        <td>{{ row["zip"] }}</td>
        <td>
            <form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id"
                    value="{{ row['rowid'] }}"><input type="submit" value="Editar"></form>
        </td>
        <td>
            <form onsubmit="return confirm('Tem certeza que deseja excluir o cliente?');"
                action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id"
                    value="{{ row['rowid'] }}"><input type="submit" value="Apagar"></form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}